body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    border: 1px solid black;
}


.cuadrado{
    width: 200px;
    height: 200px;
    background: rgb(7, 99, 11);
    margin: 20px;
    transition: .3s;
    text-align: center;
}

.container:hover .cuadrado.a{
    transform: scale(2);
}
.container:hover .cuadrado.b{
    transform: scale(.5);
}
.container:hover .cuadrado.c{
    transform: scale(2,.5);
}