:root{

    --bordes: solid 3px black
}



.payaso {
    width: 300px;
    height: 400px;
    border: solid black 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-image: url("backgroundPelo.png");
}








.payaso__nariz  {
    width: 100px;
    height: 70px;
    border-radius: 50%;
    border: var(--bordes);
    background-color: red;

    position: absolute;
    z-index: 5;
    bottom: 180px;

    display: flex;
    justify-content: center;

    box-shadow: inset 0px -11px 10px 3px rgba(0, 0, 0, .5), 0px 8px 10px 3px rgba(0, 0, 0, .5);

}


.payaso__narizLuz{
    width: 50px;
    height: 25px;
    border-radius: 50%;

    background-color: white;
    margin-top: 5px;

}



.payaso__menton {
    width: 220px;
    height: 200px;
    border-radius: 40%;
    border: var(--bordes);
    background-color: rgb(197, 195, 195);

    position: absolute;
    z-index: 2;
    bottom: 25px;

    display: flex;
    justify-content: center;

    box-shadow: inset 0px -28px 10px 10px rgba(0, 0, 0, .5);
}

.payaso__mentonBoca{
    width: 170px;
    height: 50px;

    border-radius: 50%;

    border-bottom: solid 5px black;

    position: absolute;
    z-index: 4;
    bottom: 100px;

}











.payaso__cabeza {
    width: 190px;
    height: 220px;
    border-radius: 40%;
    border: var(--bordes);
    background-color: rgb(236, 232, 232);
    position: absolute;

    position: absolute;
    z-index: 1;
    bottom: 150px;
}


.payaso__orejas {
    width: 230px;
    height: 50px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    z-index: 0;
    
    /* border: solid black 1px; */
}

.payaso__orejaIzquierda, .payaso__orejaDerecha {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    border: var(--bordes);
    background-color:rgb(236, 232, 232);
}

.payaso__orejaIzquierda{

    box-shadow: inset -25px -21px 10px -16px rgba(0, 0, 0, .5);
}
.payaso__orejaDerecha{
    box-shadow: inset 25px -21px 10px -16px rgba(0, 0, 0, .5);

}



.payaso__ojos {
    width: 150px;
    height: 120px;
    

    position: absolute;
    z-index: 5;
    bottom: 225px;

    /* border: solid 1px black; */
}

.payaso__ojosContainer{
display: flex;
align-items: flex-end;
justify-content: center;
}

.payaso__ojosIzquierda {
    width: 38px;
    height: 52px;
    border-radius: 50%;
    border: var(--bordes);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.payaso__ojos--pupilaIzquierda {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;

    position: relative;
}

.payaso__ojosDerecha {
    width: 41px;
    height: 45px;
    border-radius: 50%;
    border: var(--bordes);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}
.payaso__ojos--pupilaDerecha{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;

    position: relative;
}

.brilloOjo{
    width: 5px;
    height: 5px;

    border-radius: 50%;

    background-color: white;

    position: absolute;
    top: 2px;
    right:2px;

}


.payaso__cejasContainer{
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 6;
}

.payaso__cejaIzquierda, .payaso__cejaDerecha{
    width: 42px;
    height: 25px;
    border-radius: 50%;
    border-top: solid 8px black
}


.payaso__mono{
    width: 110px;
    height: 70px;
    display: flex;
    justify-content: center;

    background-image: url("mono.png");
    background-position: center;
    background-repeat: no-repeat;

    /* border: solid 1px black; */

    position: absolute;
    bottom: 5px;
    z-index: 5;


}





--------------






.payaso:hover .payaso__nariz{
    /* background-color: blue; */
    animation-name: ColorNariz;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@keyframes ColorNariz {
    0% {
        background-color: blue;
    }
    20% {
        background-color: green;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: violet;
    }
    80% {
        background-color: red;
    }
}


.payaso:hover .payaso__menton{
    animation-name: tamanoMenton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes tamanoMenton{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2, 1);
    }
    100% {
        transform: scale(1);
    }
}

.payaso:hover .payaso__mentonBoca {
    animation-name: MuecaBoca;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes MuecaBoca {

    0% {width: 170px;
        height: 50px;
        

    }
    20%{
        right: 60px;

    }
    40%{
        right: 70px;
    }
    60%{
        right: 80px;
    }
    80%{
        right: 90px;
    }

    100% {
        width: 50px;
        height: 40px;
        background-color: black;
        right: 100px;

}}


.payaso:hover .payaso__cabeza, .payaso__orejaIzquierda, .payaso__orejaDerecha{

    animation-name: CambiaCabeza;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes CambiaCabeza {
    0%{

    }
    50% {
        transform: scale(1.1);
    }
    100%{
        background-color: rgb(233, 172, 153);
        transform: scale(1.1);
    }
}


.payaso:hover .payaso__cejaIzquierda{
    animation-name: cejaIzquierda;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes cejaIzquierda {
    0%{

    }
    100% {
        transform: scale(1.6) translateY(15px) translateX(-5px);
    }
}

.payaso:hover .payaso__cejaDerecha{
    animation-name: cejaDerecha;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes cejaDerecha {
    0%{

    }
    100% {
        transform: scale(1.6, 1.6) translateY(26px) translateX(5px) rotateZ(-26deg);
    }
}


.payaso:hover .payaso__ojosContainer{
    animation-name: TamanoOjos;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes TamanoOjos{
    0%{

    }
    100% {
        transform: scale(1.2);
    }
}


.payaso:hover .payaso__ojos--pupilaIzquierda, .payaso__ojos--pupilaDerecha{

    animation-name: PosicionPupila;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes PosicionPupila{
    0%{

    }
    100%{
        transform: translateY(-10px);
    }
}


.payaso:hover .payaso__mono{
    animation-name: GiroMono;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes GiroMono{
    100% {
        transform: rotateZ(360deg);
    }
}