body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    font-size: 2rem;
    color: white;
}








.animacionLogo{
    width: 200px;
    height: 200px;
    background-image: url("logoGrande.png");
    cursor: pointer;
}

/* .logo.pulse {
    
    animation-name: pulse ;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

.animacionLogo.is-click {
    animation-name: click;
    animation-duration: 2s;
    animation-timing-function: steps(39);
    animation-fill-mode: forwards;
}
@keyframes click {
    0%{

      background-position: 0 0;
    }
    100%{

        background-position: right;
    }
}


/* @keyframes pulse {
    0% , 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
} */