.atomoContainer {
    height: 500px;
    width:  500px;

    background-color: rgb(23, 23, 26);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.nucleoAtomo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    box-shadow: 0px 0px 50px 50px rgba(0, 128, 0, 0.5);
}

.radio {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px green solid;
    position: absolute;
    box-shadow: 0px 0px 30px 30px rgba(0, 128, 0, 0.5), inset 0px 0px 30px 30px rgba(0, 128, 0, 0.5) ;
    

}



/* .radio{
    animation-name: radioanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.radio.a {
    animation-delay: 0;
}
.radio.b {
    animation-delay: 2.5s;
}
.radio.c {
    animation-delay: 5s;
}
.radio.d {
    animation-delay: 7.5s;
}





@keyframes radioanimation {

    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(360deg) rotateY(360deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }

} */





.radio.a{


    animation-name: radioAanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.radio.b{
    transform: rotateX(30deg) rotateZ(30deg);

    animation-name: radioBanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.radio.c{
    transform: rotateX(60deg) rotateZ(60deg);

    animation-name: radioCanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.radio.d{
    transform: rotateX(90deg) rotateZ(90deg);

    animation-name: radioDanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.radio.e{
    transform: rotateX(120deg) rotateZ(120deg);

    animation-name: radioEanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.radio.f{
    transform: rotateX(150deg) rotateZ(150deg);

    animation-name: radioFanimation;
    animation-duration: 10s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



@keyframes radioAanimation {

    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }


}
@keyframes radioBanimation {

    0% {
        transform: rotateX(30deg) rotateY(30deg);
    }

    100% {
        transform: rotateX(390deg) rotateY(390deg);
    }

}
@keyframes radioCanimation {

    0% {
        transform: rotateX(60deg) rotateY(60deg);
    }

    100% {
        transform: rotateX(420deg) rotateY(420deg);
    }

}
@keyframes radioDanimation {

    0% {
        transform: rotateX(90deg) rotateY(90deg);
    }

    100% {
        transform: rotateX(450deg) rotateY(450deg);
    }

} 
@keyframes radioEanimation {

    0% {
        transform: rotateX(120deg) rotateY(120deg);
    }

    100% {
        transform: rotateX(480deg) rotateY(480deg);
    }

} 
@keyframes radioFanimation {

    0% {
        transform: rotateX(150deg) rotateY(150deg);
    }

    100% {
        transform: rotateX(510deg) rotateY(510deg);
    }

} 



.electron {
    transform: perspective(1000px);
    transform-style: preserve-3d;
}



.electronPart {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: red;

    /* box-shadow: 0px 0px 0px 30px rgb(252, 0, 0), inset 0px 0px 30px 30px rgba(252, 0, 0, 0.5) ; */

}



.electronPart.a {

    transform: rotateX(0deg);
    background-color: blue;
}
.electronPart.b {

    transform: rotateX(36deg);
    background-color: white;
}
.electronPart.c {

    transform: rotateX(72deg);
    background-color: yellow;
}
.electronPart.d {

    transform: rotateX(108deg);
    background-color: violet;
}
.electronPart.e {

    transform: rotateX(144deg);
    
}